html, body {
  margin: 0; 
  padding: 0; 
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

body {
  overflow:hidden;
}

#main-title {
 font-weight: 600;
 font-size: 24px;
 text-align: center;
 border-bottom: 1px solid rgb(171, 171, 171);
 height: 10vh;
 display: grid;
 align-items: center;
}

#events {
  padding: 0em 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2em;
}

.categories {
  display: grid;
  justify-content: end;
}

.category {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  width: fit-content;
}

.wildfires {
  color: red;
  border: 1px solid red;
}

.volcanoes {
  color: rgb(180, 106, 16);
  border: 1px solid rgb(180, 106, 16);
}

.seaLakeIce {
  color: rgb(12, 95, 125);
  border: 1px solid rgb(12, 95, 125);
}

.title {
  font-weight: 600;
  padding: 0.4em;
}

.magnitude, .coordinates {
  padding: 0.4em;
}

#map { 
  height: 80vh;
}

footer {
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: rgb(6, 31, 81);
  line-height: 25px;
  height: 10vh;
  display: grid;
  align-items: center;
}

footer a {
  color: red;
}