body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* height: 100vh; */
}

#main-title {
 padding: 1em;
 font-weight: 600;
 font-size: 24px;
 text-align: center;
 border-bottom: 1px solid rgb(171, 171, 171);
}

#main-content {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 2em;
}

#events {
  padding: 0em 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2em;
}

.event {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  border: 1px solid #ddd;
}

.categories {
  display: grid;
  justify-content: end;
}

.category {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  width: fit-content;
}

.wildfires {
  color: red;
  border: 1px solid red;
}

.volcanoes {
  color: rgb(180, 106, 16);
  border: 1px solid rgb(180, 106, 16);
}

.seaLakeIce {
  color: rgb(12, 95, 125);
  border: 1px solid rgb(12, 95, 125);
}

.title {
  font-weight: 600;
  padding: 0.4em;
}

.magnitude, .coordinates {
  padding: 0.4em;
}

#map { 
  height: 450px;
}

footer {
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: rgb(6, 31, 81);
  padding: 5em;
  line-height: 25px;
}

footer a {
  color: red;
}